---
layout: default
title: Travelling
permalink: /travelling/
---
<h1 class="is-centered no-anchor">Travelling</h1>
<hr>

<div class="destinations">
    {% assign sortedDestinations = site.destinations | sort: 'date' | reverse %}
    {% for destination in sortedDestinations %}
    {% if destination.skip_listing %}
        {% continue %}
    {% endif %}
    <div class="travel-destination" id='{{ destination.slug }}-{{ destination.date | date: "%Y" }}'>
        <a href="{{ destination.url }}"><span class="travel-destination-link"></span></a>
        {% assign year = destination.date | date: "%Y" %}
        {% assign front = destination.front %}
        {% assign name = destination.title %}
        {% assign id = destination.slug %}
        {% assign image = "/assets/images/destinations/" | append: year | append: "/" | append: id | append: "/" | append: front %}

        <div class="visible-md visible-lg description">
            <div class="row vertical-align">
                <div class="col-lg-6">
                    <p>
                        <img src="{{ image | resize: '600x600' }}" alt="{{ name }} front ({{destination.front}})" width="320" align="middle">
                    </p>
                </div>
                <div class="col-lg-6">
                    <h2>
                        <p>
                            {{ name }}
                            <em>({{ destination.date | date: "%Y" }})</em>
                        </p>
                    </h2>
                    {{ destination.short_description }}
                </div>
            </div>
        </div>


        <div class="visible-sm description">
            <div class="row vertical-align">
                <div class="col-sm-6">
                    <h2>
                        <p>
                            <img src="{{ image | resize: '600x600' }}" alt="{{ name }} front ({{destination.front}})" width="320" align="middle">

                        </p>
                    </h2>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <p>
                            {{ name }}
                            <em>({{ destination.date | date: "%Y" }})</em>
                        </p>
                    </h2>
                </div>

                <br>

            </div>
            <div>
                {{ destination.short_description }}
            </div>
        </div>

        <div class="visible-xs description">
            <div class="row vertical-align">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2>
                        <p>
                            {{ name }}
                            <em>({{ destination.date | date: "%Y" }})</em>
                            <br><br>
                            <img src="{{ image | resize: '600x600' }}" alt="{{ name }} front ({{destination.front}})" width="100%" align="middle">
                        </p>
                    </h2>
                    <br>
                    {{ destination.short_description }}
                </div>
            </div>
        </div>
    </div>

    <br><br>
    {% endfor %}
</div>