{%- if include.folder != nil and include.folder != blank -%}
    {%- assign files = "" -%}
    {%- for file in site.static_files -%}
        {%- if file.path contains include.folder -%}
            {%- assign to_remove = "/" | append: file.name -%}
            {%- assign clean_path = file.path | remove: to_remove -%}
            {%- if clean_path == include.folder -%}
                {%- assign files = files | append: ":" | append: file.path -%}
            {%- endif -%}
        {%- else -%}
            {%- continue -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
{%- if include.images != empty and include.images != nil and files != blank -%}
    {%- assign images = include.images | join: ":" | append: ":" | append: files | split: ":" -%}
{%- elsif files != blank -%}
    {%- assign images = files | remove_first: ":" | split: ":" -%}
{%- elsif include.images != empty -%}
    {%- assign images = include.images -%}
{%- endif -%}
{%- assign unique_id = 'now' | date: '%12N' -%}
{%- assign num = images | size | minus: 1 -%}
<div id="carousel-{{- unique_id -}}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-{{- unique_id -}}" data-slide-to="0" class="active"></li>
        {%- for i in (1..num) -%}
        <li data-target="#carousel-{{- unique_id -}}" data-slide-to="{{- i -}}"></li>
        {%- endfor -%}
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="d-block w-100" src="{{- images[0] | relative_url -}}" alt="First slide">
        </div>
        {%- for i in (1..num) -%}
        <div class="item">
            <img class="d-block w-100" src="{{- images[i] | relative_url -}}" alt="Second slide">
        </div>
        {%- endfor -%}
    </div>
    <a class="left carousel-control" href="#carousel-{{- unique_id -}}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-{{- unique_id -}}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>