<footer>
    <div class="footer-container container">
    <div><span>
    Nikl.me &copy; {{ site.time | date: "%Y" }}
  </span></div>
  <div><span class="contacts">
    <a
      href="https://github.com/NiklasEi"
      target="_blank"
      title="Niklas on GitHub"
      ><i class="fa fa-github" aria-hidden="true"></i></a
    >&nbsp;
    <a
      href="https://gitlab.com/NiklasEi"
      target="_blank"
      title="Niklas on GitLab"
      ><i class="fa fa-gitlab" aria-hidden="true"></i></a
    >&nbsp;
    <a
      href="https://www.linkedin.com/in/neicker"
      target="_blank"
      title="Niklas on LinkedIn"
      ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a
    >&nbsp;
    <a href="mailto:hello@nikl.me" title="Mail to Niklas"
      ><i class="fa fa-envelope" aria-hidden="true"></i></a
    >&nbsp;
    <a href="/assets/CV_NiklasEicker.pdf" target="_blank" title="My CV"
      ><strong>CV</strong></a
    >
  </span></div>
  </div>
</footer>
