.active {
  color: darkolivegreen;
}

// push the footer down
html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

*:hover {
  // need important to overwrite bootstrap...
  text-decoration: none !important;
}

footer {
  background-color: #222;
  font-size: 80%;
  line-height: 1.42857143;
  color: #9d9d9d;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px 0px;
  width: 100%;
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    &:before, &:after {
      display: none;
    }
  }
  p {
    margin: 0px;
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .contacts i {
    font-size: 1.5em;
  }
  .contacts strong {
    font-size: 1.5em;
  }
}

footer .contacts a {
  color: white;
}

footer .contacts a:hover {
  color: deepskyblue;
}

.navbar {
  margin-right: 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.travel-destination,
.blog-post {
  position: relative;
  padding: 8px;
}

.travel-destination:hover,
.blog-post:hover {
  border: solid #436aff 2px;
  padding: 6px;
}

.travel-destination-link,
.post-link,
.div-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}

.travel-destination .description a {
  position: relative;
  z-index: 2;
}

.is-centered {
  text-align: center;
}

.post-content img.inline {
  margin: 0px 10px 6px 0px;
  width: 100%;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.blog-post {
  flex-basis: 50%;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-list .category {
  flex-basis: 40%;
  margin: 15px 5%;
  width: 100%;
  padding: 0 15px;
}

.category {
  position: relative;
}

@media (max-width: 991px) {
  .projects-list .category {
    flex-basis: 100%;
  }

  .blog-post {
    flex-basis: 100%;
  }
}
