---
layout: default
title: Blog
hide_sidebar: true
---
<h1 class="post-title-main is-centered">{{ page.title }}</h1>
<br><br>
<div class="post-list">
  {% for post in site.posts %}
    <div class="blog-post">
        <a class="post-link" href="{{ post.url }}"></a>
        <h2 id="{{ post.title | normalize_whitespace | uri_escape }}">{{ post.title }}</h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <p>{% if page.summary %} {{ page.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ post.content | truncatewords: 50 | strip_html }} {% endif %}</p>
    </div>
  {% endfor %}
</div>
