<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    {% include topnav.html %}
    <div class="container">
        <div id="main">
            <div class="row">
                {% assign content_col_size = "col-md-12" %}
                {% unless page.hide_sidebar %}
                    <div class="col-md-3">
                        {% include sidebar.html %}
                    </div>
                    {% assign content_col_size = "col-md-9" %}
                {% endunless %}
                <div class="{{content_col_size}}">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</body>
    {% include footer.html %}
    {% include google_analytics.html %}
</html>