---
layout: default
---
<h1 class="no-anchor">{{ page.title }}</h1>
<br>
{{content}}
{% assign year = page.date | date: "%Y" %}
{%- assign page.og_image = '/assets/images/destinations/' | append: year | append: "/" | append: page.slug | append: "/" | append: page.front -%}
{% if page.images %}
    <h1>Images</h1>
    {% for image in page.images %}
        {% assign name = page.slug %}
        {% assign file = image.image %}
        {% assign image_path_clean = "assets/images/destinations/" | append: year | append: "/" | append: name %}
        {% assign image-path = "/" | append: image_path_clean | append: "/" | append: file %}
        {% assign image-path-no-leading-slash = image_path_clean | append: "/" | append: file %}

        <div class="image">
            <a href="{{ image-path }}" class="imageAnchor"><img src="{{ image-path | resize: '600x600' }}" alt="{{ name }} - {{ image.image }}" {% if image.label %}title="{{ image.label | strip_html }} &#013; &#013; Click for the full image."{% else %}title="Click for the full image."{% endif %} width="100%" style="max-width:640px" hight="auto" ></a>
        </div>
        <p class=meta>
            {% capture has_exif %}{{ image-path-no-leading-slash | exif: "exif?" }}{% endcapture %}
            {% capture has_gps %}{{ image-path-no-leading-slash | exif: "gps?" }}{% endcapture %}
            {% capture time %}{{ image-path-no-leading-slash | exif: "date_time" | date_to_long_string: "ordinal" }}{% endcapture %}
            {% if image.label %}
                {{ image.label | markdownify }}
            {% endif %}
            {% if has_exif %}
                {% if time != "" or has_gps==true %}
                    (taken
                    {% if has_gps=="true" %}
                        <a href="https://www.openstreetmap.org/?mlat={{ image-path-no-leading-slash | exif: 'gps.latitude' }}&mlon={{ image-path-no-leading-slash | exif: 'gps.longitude' }}&zoom=8&layers=M" target="_blank">here</a>
                    {% endif %}
                    {% if time %}
                        on {{ time }})
                    {% else %}
                        )
                    {% endif %}
                {% endif %}
            {% endif %}
        </p>
        <br>
        <br>

    {% endfor %}
{% endif %}

{% unless page.no_backlink %}
<br><br>
<a href='{{"/travelling" | relative_url }}#{{ page.slug }}-{{ page.date | date: "%Y" }}'><span class="fa fa-arrow-left" aria-hidden="true"></span> Back to travelling</a>
<br><br>
{% endunless %}
