---
layout: default
---

{{content}}

{% if page.images %}
    <h1>Images</h1>
    {% for image in page.images %}
        {% assign year = page.date | date: "%Y" %}
        {% assign name = page.slug %}
        {% assign file = image.image %}
        {% assign image_path_clean = "assets/images/destinations/" | append: year | append: "/" | append: name %}
        {% assign image-path = "/" | append: image_path_clean | append: "/" | append: file %}
        {% assign image-path-no-leading-slash = image_path_clean | append: "/" | append: file %}

        <div class="image">
            <a href="{{ image-path }}" class="imageAnchor"><img src="{{ image-path | resize: '600x600' }}" alt="{{ name }} - {{ image.image }}" {% if image.label %}title="{{ image.label }} &#013; &#013; Click for the full image."{% else %}title="Click for the full image."{% endif %} width="100%" style="max-width:640px" hight="auto" ></a>
        </div>
        <p class=meta>
            {% exiftag exif?, nil, image-path %}
            {% if image.label %}
                {{ image.label }}
            {% endif %}
            {% capture date_time %}{% exiftag DateTime, image_path_clean, image-path-no-leading-slash %}{% endcapture %}
            {% assign time = date_time | date: "%b %-d, %Y" %}
            {% capture gps_lat %}{% exiftag image_description, image_path_clean, image-path-no-leading-slash %}{% endcapture %}
            {% capture gps_long %}{% exiftag GPSLongitude, image_path_clean, image-path-no-leading-slash %}{% endcapture %}
            {{ gps_lat | inspect }}
<p>{% exiftag model, nil, image-path %}</p>
            {{ gps_lat }}
            {% if time!=nil or gps_lat!=nil %}
                (taken
                {% if gps_lat!=nil and gps_long!=nil %}
                    <a href="https://www.openstreetmap.org/?mlat={{ gps_lat }}&mlon={{ gps_long }}&zoom=8&layers=M" target="_blank">here</a>
                {% endif %}
                {% if time %}
                    on {{ time }})
                {% else %}
                    )
                {% endif %}
            {% endif %}
        </p>
        <br>
        <br>

    {% endfor %}
{% endif %}

{% unless page.no_backlink %}
<br><br>
<a href='{{"/travelling" | relative_url }}#{{ page.slug }}-{{ page.date | date: "%Y" }}'><span class="fa fa-arrow-left" aria-hidden="true"></span> Back to travelling</a>
{% endunless %}
